<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627262073258-u2lqt1bbu5b3lfc29tjhc84ejckdlmbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627262073258-u2lqt1bbu5b3lfc29tjhc84ejckdlmbe</string>
	<key>API_KEY</key>
	<string>AIzaSyCLYonDbA3eMrjvbaNreH1M5y6gsdr4Ilc</string>
	<key>GCM_SENDER_ID</key>
	<string>627262073258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.App.Nafas</string>
	<key>PROJECT_ID</key>
	<string>smart-bracelet-2cb74</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-bracelet-2cb74.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627262073258:ios:94f410277e5574e1b423d3</string>
	<key>DATABASE_URL</key>
	<string>https://smart-bracelet-2cb74-default-rtdb.firebaseio.com</string>
</dict>
</plist>